name: GH Pages
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 * * *"
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_AWESOME_REPOS }}
    steps:
      - uses: actions/checkout@v6
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ github.ref_name }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ github.ref_name }}-node-
      - name: Cache cached
        uses: actions/cache@v4
        with:
          path: cached
          key: ${{ github.ref_name }}-cached-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ github.ref_name }}-cached-
      - name: Cache dist
        uses: actions/cache@v4
        with:
          path: dist
          key: ${{ github.ref_name }}-dist-${{ hashFiles('**/{repos,stars}.json') }}
          restore-keys: |
            ${{ github.ref_name }}-dist-
      - run: npm install --ci
      - run: npm run generate $GITHUB_REPOSITORY_OWNER ${{github.event.repository.name}}
      - run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
